{% extends 'base.jinja2' %}
{% block header %}
<title>Whos that pokemon</title>
{% endblock header %}

{% block content %}
<div class="stack vertical center_items center_content full_height">
<h1>Williott</h1>
<p>A collection of fun stuff for my kids</p>

<div class="stack horizontal">
<a class="fab" href="/whos-that-pokemon">
    <img src="static/pikachu_silhouette.png" />
</a>
<a class="fab" href="/which-one">
    <img src="static/questionmark.png" />
</a>
</div>

</div>

{% endblock content %}
