@font-face {
    font-family: "Pokemon";
    src: url('/static/PocketMonk-15ze.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

::before::after {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
    margin: 0;
}

html {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(160deg, #F88200 0%, #CE2405 100%);
    /* background-color: green; */
    font-family: "Pokemon", "PT Sans", Calibri, Tahoma, sans-serif;
    overflow: hidden;
    color: #f2f2f2;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: scroll;
}

.content {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.full_height {
    height: 100%;
}

.full_width {
    width: 100%;
}

.stack {
    display: flex;
}

.auto_size_flex_items>* {
    flex: 1;
}

.wrap {
    flex-wrap: wrap;
}

.horizontal {
    flex-direction: row;
}

.vertical {
    flex-direction: column;
}

.center_content {
    justify-content: center;
}

.space_between {
    justify-content: space-between;
}

.space_evenly {
    justify-content: space-evenly;
}

.center_items {
    align-items: center;
}

.static_size {
    flex-grow: 0;
}

.spacing_small {
    gap: 10px;
}

.spacing_medium {
    gap: 20px;
}

.spacing_large {
    gap: 30px;
}

.padding_small {
    padding: 10px;
}

.padding_medium {
    padding: 20px;
}

.padding_large {
    padding: 30px;
}

.fab {
    width: 48px;
    height: 48px;
}

/* img {
    max-width: 100%;
    max-height: 100%;
} */

.text_center {
    text-align: center;
}

.opaque_box {
    background: rgba(255, 255, 255, .2);
    border-radius: 5px;
}


/* Style buttons */
button {
    background-color: unset;
    /* Blue background */
    border: none;
    /* Remove borders */
    color: white;
    /* White text */
    font-size: 16px;
    /* Set a font size */
    cursor: pointer;
    /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
button:hover {
    color: whitesmoke;
}

.htmx-indicator {
    opacity: 0;
    transition: opacity 50ms ease-in;
}

.htmx-request .htmx-indicator {
    opacity: 1
}

.htmx-request.htmx-indicator {
    opacity: 1
}


.popover {
    background: unset;
    border: none;
}

