<div class="stack vertical center_items">
    <h1 class="text_center">{{target_name | capitalize}}</h1>
</div>
<div class="stack vertical spacing_medium">

    <div class="stack horizontal spacing_medium">

    {% for p in pokemon %}

        {% if loop.index == 3%}
            </div>
            <div class="stack horizontal spacing_medium">
        {% endif %}

        {% if p == target %}
            <div class="target" hx-get="/which-one" hx-swap="innertHTML" hx-target="#game">
        {% else %}
        <div class="wrong">
        {% endif %}
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{p}}.png" />
        </div>
    {% endfor %}
    </div>
</div>
