<div class="stack vertical center_items">
    <h1 class="text_center">{{target["name"]["english"] | capitalize}}</h1>
</div>
<audio src="/speak/Which of these pokemon is, {{target['name']['english']}}" style="display:none;" autoplay></audio>
<div class="stack vertical spacing_medium">

    <div class="stack horizontal spacing_medium">

    {% for p in pokemon %}
        {# add new row after 2 pokemon #}
        {% if loop.index == 3%}
            </div>
            <div class="stack horizontal spacing_medium">
        {% endif %}
        {# When current pokemon is the target #}
        {% if p == target["id"] %}
            <div class="target" hx-swap="innerHTML swap:1s" hx-get="/which-one" hx-target="#game">
        {% else %}
        <div class="wrong">
        {% endif %}
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{p}}.png" />
        </div>
    {% endfor %}
    </div>
</div>
