{% extends 'base.jinja2' %}
{% block header %}
<title>Whos that pokemon</title>
{% endblock header %}

{% block content %}
<div class="content">
<div class="stack vertical center_items">
<h1>Which of these pokemon is</h1>
<div id="game">
    {% include 'game.jinja2' %}
</div>
</div>
</div>
{% endblock content %}



{% block script %}
<script type="module">
    document.body.addEventListener("htmx:configRequest", function(configEvent){
        const wrongElements = document.body.getElementsByClassName("wrong")
        const correctElement = document.body.getElementsByClassName("target")[0]
        for (let i = 0; i < wrongElements.length; i++) {
            wrongElements[i].classList.add("htmx-swapping")
        }
        correctElement.classList.add("htmx-swapping")
    })
    </script>
{% endblock script %}
