<a href="/pokedex/pokemon/{{id}}" class="fab static_size">
  <div class="fab_circle">
    <img
      alt="pokemon with id: {{id}}"
      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{id}}.png"
    />
  </div>
</a>
