.fab {
    width: 48px;
    height: 48px;
}

.fab img {
    align-self: center;
    max-width: 140%;
    max-height: 140%;
    margin-left: -10px;
}

.fab_circle {
    /* position: absolute; */
    /* background: #e7d8d5; */
    background: rgba(231, 216, 213, 0.5);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-self: center;
    text-align: center;
}


.circle {
    background: rgba(231,216,213,.5);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-self: center;
    text-align: center;
    margin-bottom: 40px;
}

.circle img {
    align-self: center;
    max-width: 130%;
    max-height: 130%;
    margin-bottom: -50px;
}

.pill {
    background: rgba(255, 255, 255, .2);
    border-radius: 10px;
    width: 50px;
    align-self: center;
}

.data_area {
    background: rgba(255, 255, 255, .2);
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
}


.cards .list img {
    width: 100%;
}

.cards button {
    all: unset;
    max-width: 40%;
}

.cards .popover img {
    width: 90vw;
}
