{% extends 'base.jinja2' %}
{% block header %}
<title>Pokedex</title>
{% endblock header %}

{% block content %}
<div class="content stack vertical spacing_medium">
<div class="stack vertical center_items">
    <h2 class="text_center">PokeDex</h2>
</div>
<div class="stack horizontal center_items">
    {% for generation in generations %}
    {# <a href="/pokedex/{{generation}}">{{generation}}</a> #}
    <button hx-post="/pokedex/{{generation}}" hx-target="#pokemon_list">
        {{generation}}
    </button>
    {% endfor %}
</div>
<div id="pokemon_list" class="stack horizontal wrap spacing_small space_between" >
    {% include "partials/generation_list.jinja2" %}
</div>
</div>

{% endblock content %}



{% block script %}
{% endblock script %}
