{% extends 'base.jinja2' %}
{% block header %}
<title>Pokemon</title>
{% endblock header %}

{% block content %}
<div class="stack vertical spacing_medium center_content center_items padding_medium">
    <div class="stack horizontal">
      <div class="circle stack horizontal space_evenly">
        <img
          class="pokemon_image"
          alt="official-artwork of {name}"
          src={{data.image.hires}}
        />
        </div>
    </div>
    <div class="stack vertical center_items">
    <h1 id="name_english">{{ data["name"]["english"] }}</h1>
    <h3 id="name_japanese">{{ data["name"]["japanese"] }}</h2>
    </div>
  {% with evolution = data["evolution"] %}
  {% include "partials/evolution_list.jinja2" %}
  {% endwith %}
</div>

<audio id="audio_name_english" src="/speak/english/This pokemon's name is, {{data['name']['english']}}" style="display:none;" autoplay></audio>
<audio id="audio_name_japanese" src="/speak/japanese/このポケモンの名前は, {{data['name']['japanese']}}" style="display:none;"></audio>

{% endblock content %}

{% block script %}
<script> 
    const audio_english = document.getElementById("audio_name_english"); 
    document.getElementById("name_english").addEventListener("click", () => { 
      audio_english.play();
    }); 
    const audio_japanese = document.getElementById("audio_name_japanese"); 
    document.getElementById("name_japanese").addEventListener("click", () => { 
      audio_japanese.play();
    }); 
</script> 
{% endblock %}

