/* .target.htmx-request {
    background-color: green;
    transition: background-color .5s linear;
} */

.htmx-swapping * {.target {
    background-color: green;
    transition: background-color .5s linear;
    
    }
    .wrong {
        opacity: 0;
        transition: opacity .3s linear;
    }
}

.wrong:hover {
    background-color: red;
}

#game {
    width: 100%;
    height: 100%;
}
#game * img {
    width: 100%;
    height: 100%;
}


/* .choice {
    display: block;
    flex-grow: 0;
    flex-basis: 40%;
} */
