/* .target.htmx-request {
    background-color: green;
    transition: background-color .5s linear;
} */

.target.htmx-swapping {
    background-color: green;
    transition: background-color .5s linear;
}

.wrong:target {
    background-color: red;
}

.wrong.htmx-swapping  {
    opacity: 0;
    transition: opacity .3s linear;
}



/* .choice {
    display: block;
    flex-grow: 0;
    flex-basis: 40%;
} */
